doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-principal
            .bienvenida
                h2 Bienvenido a
                h2.titulo-logo Planifi-K
                    img.logo-principal(src="https://media.tenor.com/6cdLvi_G1l4AAAAj/white-tic-tick.gif" alt="Logo principal")
                p La herramienta perfecta para gestionar tus proyectos y organizar tus tareas. Simplifica tu trabajo, optimiza tu tiempo y mantén todo bajo control de manera fácil y eficiente.

            .contenedor-formulario 
                h1 Inicia Sesión
                
                if locals.mensajes
                    .alertas 
                        each categoria in Object.keys(locals.mensajes)
                            each error in mensajes[categoria]
                                .alerta(class=`${categoria}`)
                                    p= error

                form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                    .campo
                        input.correo-iniciar(type="text" name="email" placeholder="Correo electrónico" value=email)
                    .campo 
                        input(type="password" name="password" placeholder="Constraseña" value=password)
                    .campo.enviar
                        input.boton(type="submit" value="Iniciar sesión")
                    .campo.acciones
                        span ¿Eres nuevo? 
                            a(href="/crear-cuenta") Registrate
                    .campo.reestablecer
                        a(href="/reestablecer") ¿Olvidaste tu contraseña?
