doctype html
html(lang="en")
    head
        include partials/header
    body 
        header.barra
            h1 
                a(href="/") HOME  
            h2 PLANIFI-K { Administracion de proyectos }
            a.cerrar-sesion(href="/cerrar-sesion") <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-logout-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" /><path d="M15 12h-12l3 -3" /><path d="M6 15l-3 -3" /></svg> Cerrar sesion

        main.contenedor 
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nuevo proyecto
                        span  +
                .panel.lista-proyectos 
                    h2 Proyectos 
                    ul#proyectos.proyectos
                        if (proyectos.length)
                            each proyecto in proyectos
                                li
                                    a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre

            block contenido

            //- pre= vardump(proyectos)

        script(src="/dist/bundle.js")