doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario
            h1= nombrePagina    
            p Agrega tu correo para reestablecer tu contraseña
            if locals.mensajes
                .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
                                
            form.caja-login(method="POST" action="/reestablecer")
                .campo
                    h4(for="email") Email: 
                    input.correo-reestablecer(type="text" name="email" placeholder="Tu correo" value= email)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer contraseña")
                .campo.acciones
                    span Ya la recorde, 
                        a(href="/iniciar-sesion") volver a Login