html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}
/** Login **/
.login,
.crear-cuenta {
  background: #455a64;
}
.contenedor-formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.contenedor-formulario h1 {
  text-align: center;
  color: white;
}
.contenedor-formulario h1 span {
  font-weight: 400;
  font-size: 1.2rem;
}
.caja-login {
  background-color: #f2f2f2;
  border: 1px solid #707070;
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
}

#nombre {
  width: 50%;
}

.completo {
  color: green;
}

.barra-avance {
  width: 50%;
  height: 2rem;
  border: 2px solid black;
  text-align: center;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.porcentaje {
  width: 0;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgb(17, 121, 17),
    rgb(10, 80, 82),
    rgb(253, 187, 45)
  );
  transition: width 0.5s ease;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
