doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
            
    body
        .email-container
            h2 Confirmar cuenta en Planifi-K
            p ¡Ya estás casi inscrito! Solo da click en el siguiente botón para finalizar el proceso.
            a.button(href=`${confirmarUrl}`) Confirmar cuenta
            p Si no puedes acceder a este enlace, visita directamente:
                a.link(href=`${confirmarUrl}`)= confirmarUrl
