doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
            
    body
        h2 Reestablece tu contraseña
        p Hola, haz solicitado reestablecer tu contraseña, haz click en el siguiente enlace para ir a reestablecerla:
        a(href=`${resetUrl}`) AQUI
        p Este enlace es temporal, asi que si se vence vuelve a solicitarlo.
        p Si no puedes acceder a este enlace, visita #{resetUrl}. 
        p Si no solicitaste este email, puedes ignorarlo. 