doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
            
    body
        .email-container
            h2 Reestablece tu contrase침a
            p Hola, 
            p Haz solicitado reestablecer tu contrase침a. Haz click en el siguiente bot칩n para ir a reestablecerla:
            a.button(href=`${resetUrl}`) Reestablecer Contrase침a
            p Este enlace es temporal. Si se vence, por favor vuelve a solicitarlo.
            p Si no puedes acceder al enlace, visita directamente: 
                a.link(href=`${resetUrl}`)= resetUrl
            p Si no solicitaste este email, puedes ignorarlo. 
